*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: rgb(0, 0, 0);
}



.container{
    max-width: 1300px;
    margin: auto;
    padding: 0 30px;
}


.films{
    gap: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.film{
    padding: 5px;
    color: white;
    width: 30%;
    border-radius: 10px;
    background: rgba(24, 19, 18, 0.741);
    margin-top: 10px;
    column-gap: 20px;
}

.film:hover{
    box-shadow: 0 0 10px 4px aqua;
}

h2{
    margin-top: 10px;
    margin-bottom: 20px;
}

span{
    margin-top: 10px;
    margin-bottom: 20px;
}


p{
    margin-top: 10px;
    margin-bottom: 20px;
}

img{
    width: 95%;
    height: 300px;
    border-radius: 10px;
    margin-left: 3%;
}